
.filter-box{
    width: 30%;
    
}

.filter{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #DFE5EC;
    border-radius: 8px;
    height: 23%;
    
}

.title-filter{
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    line-height: 12px;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 600;
}
.input-box{
    margin-left: 5px;
}
.checkbox{
    width: 95.5%;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    height: 30px;
    margin-left: 9px;
    padding: 4px;
}
.checkbox:hover{
    border-color: #2196F3;
    background-color: #F1FCFF;
   border-radius: 5px;
}
input::before{
    background-color: #2196F3;
}



@media screen and (min-width: 499px) and (max-width: 767px){
    .filter-box{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .filter{
        height: auto;
        padding-bottom: 25px;
    }
    .title-filter{
        text-align: center;
        vertical-align: center;
    }
    .checkbox{
        width: 30%;
        line-height: 12px;
    }
    .input-box{
        margin-left: 0;
    }
}

@media screen and (min-width: 319px) and (max-width: 499px){
    .filter-box{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        height: auto;
    }
    .filter{
        height: auto;
        padding-bottom: 20px;
    }
    .title-filter{
        font-size: 12px;
        text-align: center;
        vertical-align: center;
    }
    .checkbox{
        height: 10px;
    }
}